@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer';

}
.app > header {
    grid-area: header;
    box-shadow: 0px 1px 3px 0px rgba(44, 44, 44, 0.25);
}
.app > main {
    grid-area: main;
    padding: 20px;
}
.app > footer {
    grid-area: footer;
    background: #F1F5F9;
    display: flex;
    justify-content: space-between;
}

