@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Gotham Pro';
}

.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer';
}
.app > header {
    grid-area: header;
    box-shadow: 0px 1px 3px 0px rgba(44, 44, 44, 0.25);
}
.app > main {
    grid-area: main;
    padding: 20px 0px 0 0;
}
.app > footer {
    grid-area: footer;
    background: #F1F5F9;
    display: flex;
    justify-content: space-between;
}

.eye-ico {
    position: absolute;
    z-index: 20;
    top: 36px;
    right: 14px;
}

.logo_minion {
    position: relative;
    z-index: 1;
    top: 30px;
    right: 0px;
}
.logo_counter {
    position: relative;
    top: -30px;
    right: 0px;
}

/*.parent {*/
/*position: relative;*/
/*}*/
/*.text_cabinet {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/
