@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Gotham Pro';
}

.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'header' 'main' 'footer';
}
.app > header {
    grid-area: header;
    box-shadow: 0 1px 3px 0 rgba(44, 44, 44, 0.25);
}
.app > main {
    grid-area: main;
    /*padding: 20px 0;*/
}
.app > footer {
    margin-top: 100px;
    grid-area: footer;
    background: #F1F5F9;
    display: flex;
    justify-content: space-between;
}

.eye-ico {
    position: absolute;
    /*z-index: 20;*/
    top: 38px;
    right: 14px;
}

.logo_minion {
    position: relative;
    height: 154px;
    width: 154px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    top: 30px;
    right: 0;
}
.logo_counter {
    position: relative;
    height: 188px;
    width: 188px;
    margin-left: auto;
    margin-right: auto;
    top: -30px;
    right: 0;
}
fieldset {
    position: relative;
}
.email-field:valid:after {
    content: url('./img/icon_done.svg');
    width: 24px;
    height: 24px;
    display: block;
    box-sizing: border-box;
    z-index: 2;
    position: absolute;
    bottom: 12px;
    right: 10px;
}
.pointer {
    width: 6px;
    height: 7px;
    display: block;
    box-sizing: border-box;
    position: relative;
    left: 0;
    top: 3px;
    margin-right: 3px;
}
.checkPassword {
    position: absolute;
    left: calc(100% + 5px);
    top: 24px;
    background: white;
    z-index: 5;
}
.arrow_right {
    position: absolute;
    left: 1%;
    top: 37%;
}
.arrow_left {
    position: absolute;
    left: 97%;
    top: 37%;
}
.arrow_right_partners {
    position: absolute;
    left: 1%;
    bottom: 37%;
}
.arrow_left_partners {
    position: absolute;
    left: 97%;
    bottom: 37%;
}
img.iconActive {
    border-radius: 6px;
    border: 1px solid #FDC500;
}
img.iconPassive {
    border-radius: 6px;
    border: 1px solid #E7E7E7;
}
.AutoSuggestClassNames div p {
    /*display: block;*/
    white-space: unset;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
.carousel.carousel-slider {
    overflow: unset !important;
}
.control-dots {
    bottom: -40px !important;
}
.carousel .control-dots .dot {
    background-color: #CEDDE9 !important;
}
.arrow_prev_news {
    position: absolute;
    left: 33%;
    top: 0;
}
.arrow_next_news {
    position: absolute;
    left: 63%;
    top: 0;
}
.arrowRightCurrentNews {
    position: absolute;
    left: 95%;
    top: -43px;
}
.arrowLeftCurrentNews {
    position: absolute;
    left: 90%;
    top: -43px;
}
.icon_question {
    position: absolute;
    left: 95%;
    top: 26px;
}